<div id="presentacion">	
    <div id="titulo"><h3><%= title %></h3>
    	<p>Fernando Manisalián</p>
    </div>
    <div id="foto">
        <img src="images/foto.jpg" alt="Foto de Fernando"/>
    </div>
</div>